doctype html
html(lang='en', class='load-complete')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-A-Compatible', content='IE=edge')
		meta(http-equiv='content-language', content='en-gb')
		title Page Title
		meta(name='description', content='Replace description here.')
		meta(author='Your name here')
		link(rel='stylesheet', type='text/css', href='styles/main.css')
		script(defer src='/scripts/main.js')
		script(src='/socket.io/socket.io.js')
	body
		article(role='main')
			audio(id='real_player', src='/songs/relaxed.mp3', preload='auto', controls)
			input#page-toggle-chk(type='checkbox',style='display: none;')
			input#window-toggle-chk(type='checkbox', style='display: none;', checked='true')
			label(for='window-toggle-chk').start-radio-button#play Start radio
			.window.load-transition
				.top-bar.load-transition
					label.left-action(for='page-toggle-chk')
						.line.line-1
						.line.line-2
						.line.line-3
					.mid-text
						.title.page-front-title#current-mood Relaxed
						.title.page-saved-stations-title All stations
					label.right-action#pause(for='window-toggle-chk')
						.line.line-1
						.line.line-2
						.line.line-3
				.page.page-front
					.cover.load-transition.load-transition-delay-1.relaxed#cover
						.glow.load-transition.load-transition-delay-2
						ul.tool-buttons
							li#trigger-one(data-mood='happy') Happy
							li#trigger-two(data-mood='intense') Intense
						.current-station-text.load-transition.load-transition-delay-2
							include ./includes/shell.jade
						.current-station-name-bar.load-transition.load-transition-delay-2.mid-text Slack
						.sound-bars
					.swipe-bar.load-transition.load-transition-delay-2
						.track-data
							#song-name Christopher Ferreira - Goodnight Moon
					.volume-bar.load-transition.load-transition-delay-2
						.left-icon
							include ./includes/volume.jade
						input(type='range' value='80').range
				.page.page-saved-stations
					menu.station-list
						ul
							li
								a.link ★ Starred
							li.active
								a.link Slack
									.bar-bouncer
										.bar.bar1
										.bar.bar2
										.bar.bar3
							li
								a.link Mellow Pop
							li 
								a.link Electronic Concentration
							li 
								a.link Walking Like A Badass
							li 
								a.link Stuck In My Head